<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediaplayer">

    <application>
        <activity android:name=".MediaPlayerActivity" />

        <activity android:name=".video.VideoPlayerActivity"
            android:screenOrientation="sensorLandscape"/>
    </application>
</manifest>
