<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mediaplayer" >
    <application>
        <activity android:name=".MediaPlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="www.mp3.zing.vn/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="www.m.mp3.zing.vn/"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
